In [1]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.feature_extraction import DictVectorizer
from sklearn.model_selection import train_test_split
import tensorflow as tf

# Peer-to-peer lending
## [Lending club](https://www.lendingclub.com/)  data: https://www.kaggle.com/wendykan/lending-club-loan-data/
## Regression problem: predicting interest rates

In [2]:
num_examples = 30000

In [3]:
df = pd.read_csv('loan_head.csv')

/Users/apple/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# keep only the columns we are interested in
df1 = df.loc[:, ['loan_amnt', 'funded_amnt', 'term', 'grade', 'emp_title', 'emp_length', 'int_rate']]
df1.head()

,loan_amnt,funded_amnt,term,grade,emp_title,emp_length,int_rate
0,2500,2500,36 months,C,Chef,10+ years,13.56
1,30000,30000,60 months,D,Postmaster,10+ years,18.94
2,5000,5000,36 months,D,Administrative,6 years,17.97
3,4000,4000,36 months,D,IT Supervisor,10+ years,18.94
4,30000,30000,60 months,C,Mechanic,10+ years,16.14

### Drop rows with missing values
Sometimes the fact that a value is missing can be also important, and sometimes we have to keep these rows and impute the missing values. Here we just drop missing values to make our life simpler.

In [6]:
df1.shape

(99999, 7)

In [7]:
df1.notna()[:10]

   loan_amnt  funded_amnt  term  grade  emp_title  emp_length  int_rate
0       True         True  True   True       True        True      True
1       True         True  True   True       True        True      True
2       True         True  True   True       True        True      True
3       True         True  True   True       True        True      True
4       True         True  True   True       True        True      True
5       True         True  True   True       True        True      True
6       True         True  True   True       True        True      True
7       True         True  True   True       True        True      True
8       True         True  True   True       True        True      True
9       True         True  True   True      False        True      True

In [8]:
# dropping rows with missing values
df2 = df1.dropna()

In [21]:
df2[:10]

,loan_amnt,funded_amnt,term,grade,emp_title,emp_length,int_rate
0,2500,2500,36 months,C,Chef,10+ years,13.56
1,30000,30000,60 months,D,Postmaster,10+ years,18.94
2,5000,5000,36 months,D,Administrative,6 years,17.97
3,4000,4000,36 months,D,IT Supervisor,10+ years,18.94
4,30000,30000,60 months,C,Mechanic,10+ years,16.14
5,5550,5550,36 months,C,Director COE,10+ years,15.02
6,2000,2000,36 months,D,Account Manager,4 years,17.97
7,6000,6000,36 months,C,Assistant Director,10+ years,13.56
8,5000,5000,36 months,D,Legal Assistant III,10+ years,17.97
11,28000,28000,60 months,B,Consultant,2 years,11.31

In [9]:
# we have lost quite a few data points
df2.shape

(83463, 7)

In [10]:
# but we're going to use even less examples
df2 = df2[:num_examples]

## Producing training and test data

In [11]:
y = df2.loc[:, 'int_rate'].values
y[:10]

array([13.56, 18.94, 17.97, 18.94, 16.14, 15.02, 17.97, 13.56, 17.97,
       11.31])

In [12]:
y.shape

(30000,)

### Encoding the features

In [18]:
X_raw = ({'loan_amnt': loan_amnt,
          'funded_amnt': funded_amnt,
          'term': term,
          'grade': grade,
          'emp_title': emp_title,
          'emp_length': emp_length}
         for loan_amnt, funded_amnt, term, grade, emp_title, emp_length in
         df2.loc[:, ['loan_amnt', 'funded_amnt', 'term', 'grade', 'emp_title', 'emp_length']].values)

In [19]:
next(X_raw)

{'loan_amnt': 2500,
 'funded_amnt': 2500,
 'term': ' 36 months',
 'grade': 'C',
 'emp_title': 'Chef',
 'emp_length': '10+ years'}

In [20]:
# we have to do it again as we've consumed one data point from the generator above
X_raw = ({'loan_amnt': loan_amnt,
          'funded_amnt': funded_amnt,
          'term': term,
          'grade': grade,
          'emp_title': emp_title,
          'emp_length': emp_length}
         for loan_amnt, funded_amnt, term, grade, emp_title, emp_length in
         df2.loc[:, ['loan_amnt', 'funded_amnt', 'term', 'grade', 'emp_title', 'emp_length']].values)

In [21]:
vectorizer = DictVectorizer()

In [22]:
X = vectorizer.fit_transform(X_raw)

In [23]:
X

<30000x15347 sparse matrix of type '<class 'numpy.float64'>'
	with 180000 stored elements in Compressed Sparse Row format>

In [25]:
X[0].toarray()

array([[0.0e+00, 1.0e+00, 0.0e+00, ..., 2.5e+03, 1.0e+00, 0.0e+00]])

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, shuffle=True)

In [27]:
X_train.shape, y_train.shape

((27000, 15347), (27000,))

## Building the model and training

In [28]:
X_train = X_train.toarray()
X_test = X_test.toarray()

In [29]:
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(40, activation=tf.keras.activations.relu),
    tf.keras.layers.Dense(40, activation=tf.keras.activations.relu),
    tf.keras.layers.Dense(1) # we don't have an activation here as we're doing regression
])

$\operatorname {MSE} ={\frac {1}{n}}\sum _{i=1}^{n}(y_{i}-{\hat {y_{i}}})^{2}$

$\mathrm {MAE} ={\frac {\sum _{i=1}^{n}\left|y_{i}-\hat {y_{i}}\right|}{n}}$

In [30]:
model.compile(optimizer=tf.keras.optimizers.Adam(0.0001),
              loss='mean_squared_error',
              metrics=['mean_squared_error', 'mean_absolute_error'])

In [31]:
model.fit(X_train, y_train, epochs=50, validation_split=0.1)

Train on 24300 samples, validate on 2700 samples
Epoch 1/50
24300/24300 [==============================] - 9s 385us/step - loss: 80.6873 - mean_squared_error: 80.6873 - mean_absolute_error: 7.1099 - val_loss: 69.6840 - val_mean_squared_error: 69.6840 - val_mean_absolute_error: 6.5924
Epoch 2/50
24300/24300 [==============================] - 9s 351us/step - loss: 69.6816 - mean_squared_error: 69.6816 - mean_absolute_error: 6.6628 - val_loss: 63.3295 - val_mean_squared_error: 63.3295 - val_mean_absolute_error: 6.3523
Epoch 3/50
24300/24300 [==============================] - 7s 283us/step - loss: 65.9719 - mean_squared_error: 65.9719 - mean_absolute_error: 6.4452 - val_loss: 60.1593 - val_mean_squared_error: 60.1593 - val_mean_absolute_error: 6.0485
Epoch 4/50
24300/24300 [==============================] - 7s 280us/step - loss: 60.0910 - mean_squared_error: 60.0910 - mean_absolute_error: 6.1119 - val_loss: 57.4683 - val_mean_squared_error: 57.4683 - val_mean_absolute_error: 6.0091
Epoch 5/50
24300/24300 [==============================] - 7s 275us/step - loss: 55.1565 - mean_squared_error: 55.1565 - mean_absolute_error: 5.8346 - val_loss: 49.2195 - val_mean_squared_error: 49.2195 - val_mean_absolute_error: 5.4174
Epoch 6/50
24300/24300 [==============================] - 7s 269us/step - loss: 49.9890 - mean_squared_error: 49.9890 - mean_absolute_error: 5.4938 - val_loss: 53.6077 - val_mean_squared_error: 53.6077 - val_mean_absolute_error: 5.8063
Epoch 7/50
24300/24300 [==============================] - 7s 276us/step - loss: 45.1443 - mean_squared_error: 45.1443 - mean_absolute_error: 5.1768 - val_loss: 45.2208 - val_mean_squared_error: 45.2208 - val_mean_absolute_error: 5.2040
Epoch 8/50
24300/24300 [==============================] - 7s 278us/step - loss: 40.2990 - mean_squared_error: 40.2990 - mean_absolute_error: 4.8458 - val_loss: 33.5053 - val_mean_squared_error: 33.5053 - val_mean_absolute_error: 4.3439
Epoch 9/50
24300/24300 [==============================] - 7s 278us/step - loss: 35.6247 - mean_squared_error: 35.6247 - mean_absolute_error: 4.4887 - val_loss: 31.5889 - val_mean_squared_error: 31.5889 - val_mean_absolute_error: 4.1455
Epoch 10/50
24300/24300 [==============================] - 7s 304us/step - loss: 31.4648 - mean_squared_error: 31.4648 - mean_absolute_error: 4.1722 - val_loss: 31.4910 - val_mean_squared_error: 31.4910 - val_mean_absolute_error: 4.1325
Epoch 11/50
24300/24300 [==============================] - 7s 281us/step - loss: 26.5563 - mean_squared_error: 26.5563 - mean_absolute_error: 3.7656 - val_loss: 20.8805 - val_mean_squared_error: 20.8805 - val_mean_absolute_error: 3.2814
Epoch 12/50
24300/24300 [==============================] - 7s 278us/step - loss: 22.6828 - mean_squared_error: 22.6828 - mean_absolute_error: 3.4159 - val_loss: 31.2240 - val_mean_squared_error: 31.2240 - val_mean_absolute_error: 4.2867
Epoch 13/50
24300/24300 [==============================] - 7s 289us/step - loss: 19.2012 - mean_squared_error: 19.2012 - mean_absolute_error: 3.0955 - val_loss: 25.4097 - val_mean_squared_error: 25.4097 - val_mean_absolute_error: 3.7472
Epoch 14/50
24300/24300 [==============================] - 8s 312us/step - loss: 16.9127 - mean_squared_error: 16.9127 - mean_absolute_error: 2.8740 - val_loss: 15.5110 - val_mean_squared_error: 15.5110 - val_mean_absolute_error: 2.5890
Epoch 15/50
24300/24300 [==============================] - 10s 417us/step - loss: 15.1709 - mean_squared_error: 15.1709 - mean_absolute_error: 2.7142 - val_loss: 11.9491 - val_mean_squared_error: 11.9491 - val_mean_absolute_error: 2.5922
Epoch 16/50
24300/24300 [==============================] - 8s 331us/step - loss: 13.1414 - mean_squared_error: 13.1414 - mean_absolute_error: 2.4909 - val_loss: 18.8297 - val_mean_squared_error: 18.8297 - val_mean_absolute_error: 3.5283
Epoch 17/50
24300/24300 [==============================] - 7s 293us/step - loss: 10.9624 - mean_squared_error: 10.9624 - mean_absolute_error: 2.2889 - val_loss: 11.5445 - val_mean_squared_error: 11.5445 - val_mean_absolute_error: 2.7245
Epoch 18/50
24300/24300 [==============================] - 7s 271us/step - loss: 9.6860 - mean_squared_error: 9.6860 - mean_absolute_error: 2.1574 - val_loss: 11.2052 - val_mean_squared_error: 11.2052 - val_mean_absolute_error: 2.7284
Epoch 19/50
24300/24300 [==============================] - 7s 275us/step - loss: 8.9263 - mean_squared_error: 8.9263 - mean_absolute_error: 2.0791 - val_loss: 8.4750 - val_mean_squared_error: 8.4750 - val_mean_absolute_error: 1.9204
Epoch 20/50
24300/24300 [==============================] - 7s 295us/step - loss: 7.3984 - mean_squared_error: 7.3984 - mean_absolute_error: 1.8706 - val_loss: 5.7384 - val_mean_squared_error: 5.7384 - val_mean_absolute_error: 1.7798
Epoch 21/50
24300/24300 [==============================] - 7s 275us/step - loss: 7.4888 - mean_squared_error: 7.4888 - mean_absolute_error: 1.8753 - val_loss: 4.5403 - val_mean_squared_error: 4.5403 - val_mean_absolute_error: 1.3859
Epoch 22/50
24300/24300 [==============================] - 7s 279us/step - loss: 6.2291 - mean_squared_error: 6.2291 - mean_absolute_error: 1.7231 - val_loss: 4.1865 - val_mean_squared_error: 4.1865 - val_mean_absolute_error: 1.2964
Epoch 23/50
24300/24300 [==============================] - 7s 291us/step - loss: 5.4253 - mean_squared_error: 5.4253 - mean_absolute_error: 1.5992 - val_loss: 3.6320 - val_mean_squared_error: 3.6320 - val_mean_absolute_error: 1.2400
Epoch 24/50
24300/24300 [==============================] - 7s 278us/step - loss: 5.3607 - mean_squared_error: 5.3607 - mean_absolute_error: 1.6141 - val_loss: 28.8962 - val_mean_squared_error: 28.8962 - val_mean_absolute_error: 4.3026
Epoch 25/50
24300/24300 [==============================] - 7s 281us/step - loss: 5.4205 - mean_squared_error: 5.4205 - mean_absolute_error: 1.6376 - val_loss: 4.2149 - val_mean_squared_error: 4.2149 - val_mean_absolute_error: 1.3483
Epoch 26/50
24300/24300 [==============================] - 7s 302us/step - loss: 4.5797 - mean_squared_error: 4.5797 - mean_absolute_error: 1.5109 - val_loss: 3.2606 - val_mean_squared_error: 3.2606 - val_mean_absolute_error: 1.2019
Epoch 27/50
24300/24300 [==============================] - 7s 289us/step - loss: 4.2145 - mean_squared_error: 4.2145 - mean_absolute_error: 1.4525 - val_loss: 3.3239 - val_mean_squared_error: 3.3239 - val_mean_absolute_error: 1.4156
Epoch 28/50
24300/24300 [==============================] - 7s 273us/step - loss: 3.7632 - mean_squared_error: 3.7632 - mean_absolute_error: 1.3982 - val_loss: 4.2467 - val_mean_squared_error: 4.2467 - val_mean_absolute_error: 1.4942
Epoch 29/50
24300/24300 [==============================] - 7s 293us/step - loss: 4.2776 - mean_squared_error: 4.2776 - mean_absolute_error: 1.4757 - val_loss: 17.9971 - val_mean_squared_error: 17.9971 - val_mean_absolute_error: 3.5625
Epoch 30/50
24300/24300 [==============================] - 7s 282us/step - loss: 3.8075 - mean_squared_error: 3.8075 - mean_absolute_error: 1.4163 - val_loss: 4.9788 - val_mean_squared_error: 4.9788 - val_mean_absolute_error: 1.8243
Epoch 31/50
24300/24300 [==============================] - 7s 288us/step - loss: 2.9231 - mean_squared_error: 2.9231 - mean_absolute_error: 1.2594 - val_loss: 2.1718 - val_mean_squared_error: 2.1718 - val_mean_absolute_error: 1.0719
Epoch 32/50
24300/24300 [==============================] - 7s 276us/step - loss: 3.5155 - mean_squared_error: 3.5155 - mean_absolute_error: 1.3623 - val_loss: 1.7858 - val_mean_squared_error: 1.7858 - val_mean_absolute_error: 1.0304
Epoch 33/50
24300/24300 [==============================] - 7s 276us/step - loss: 3.9929 - mean_squared_error: 3.9929 - mean_absolute_error: 1.4221 - val_loss: 1.7605 - val_mean_squared_error: 1.7605 - val_mean_absolute_error: 1.0274
Epoch 34/50
24300/24300 [==============================] - 7s 285us/step - loss: 2.7141 - mean_squared_error: 2.7141 - mean_absolute_error: 1.2158 - val_loss: 1.7693 - val_mean_squared_error: 1.7693 - val_mean_absolute_error: 0.9939
Epoch 35/50
24300/24300 [==============================] - 7s 288us/step - loss: 3.1130 - mean_squared_error: 3.1130 - mean_absolute_error: 1.3055 - val_loss: 2.5574 - val_mean_squared_error: 2.5574 - val_mean_absolute_error: 1.2868

Epoch 36/50
24300/24300 [==============================] - 6s 266us/step - loss: 2.1352 - mean_squared_error: 2.1352 - mean_absolute_error: 1.0900 - val_loss: 9.1898 - val_mean_squared_error: 9.1898 - val_mean_absolute_error: 2.4749
Epoch 37/50
24300/24300 [==============================] - 6s 267us/step - loss: 2.9868 - mean_squared_error: 2.9868 - mean_absolute_error: 1.2465 - val_loss: 1.5488 - val_mean_squared_error: 1.5488 - val_mean_absolute_error: 0.9484
Epoch 38/50
24300/24300 [==============================] - 6s 267us/step - loss: 2.3539 - mean_squared_error: 2.3539 - mean_absolute_error: 1.1264 - val_loss: 1.7523 - val_mean_squared_error: 1.7523 - val_mean_absolute_error: 1.0103
Epoch 39/50
24300/24300 [==============================] - 7s 269us/step - loss: 2.2671 - mean_squared_error: 2.2671 - mean_absolute_error: 1.1284 - val_loss: 1.5375 - val_mean_squared_error: 1.5375 - val_mean_absolute_error: 1.0005
Epoch 40/50
24300/24300 [==============================] - 6s 264us/step - loss: 2.1623 - mean_squared_error: 2.1623 - mean_absolute_error: 1.0950 - val_loss: 12.4399 - val_mean_squared_error: 12.4399 - val_mean_absolute_error: 2.9440
Epoch 41/50
24300/24300 [==============================] - 7s 276us/step - loss: 2.8691 - mean_squared_error: 2.8691 - mean_absolute_error: 1.2455 - val_loss: 3.9719 - val_mean_squared_error: 3.9719 - val_mean_absolute_error: 1.5548
Epoch 42/50
24300/24300 [==============================] - 7s 268us/step - loss: 2.3603 - mean_squared_error: 2.3603 - mean_absolute_error: 1.1567 - val_loss: 2.4173 - val_mean_squared_error: 2.4173 - val_mean_absolute_error: 1.2678
Epoch 43/50
24300/24300 [==============================] - 7s 271us/step - loss: 2.3419 - mean_squared_error: 2.3419 - mean_absolute_error: 1.1250 - val_loss: 2.7826 - val_mean_squared_error: 2.7826 - val_mean_absolute_error: 1.3584
Epoch 44/50
24300/24300 [==============================] - 6s 266us/step - loss: 2.0933 - mean_squared_error: 2.0933 - mean_absolute_error: 1.0908 - val_loss: 2.2021 - val_mean_squared_error: 2.2021 - val_mean_absolute_error: 1.1325
Epoch 45/50
24300/24300 [==============================] - 7s 271us/step - loss: 2.5584 - mean_squared_error: 2.5584 - mean_absolute_error: 1.1664 - val_loss: 2.5102 - val_mean_squared_error: 2.5102 - val_mean_absolute_error: 1.2918
Epoch 46/50
24300/24300 [==============================] - 7s 279us/step - loss: 2.8513 - mean_squared_error: 2.8513 - mean_absolute_error: 1.2285 - val_loss: 3.8111 - val_mean_squared_error: 3.8111 - val_mean_absolute_error: 1.5414
Epoch 47/50
24300/24300 [==============================] - 7s 274us/step - loss: 1.9583 - mean_squared_error: 1.9583 - mean_absolute_error: 1.0563 - val_loss: 1.4256 - val_mean_squared_error: 1.4256 - val_mean_absolute_error: 0.9411
Epoch 48/50
24300/24300 [==============================] - 7s 270us/step - loss: 2.2749 - mean_squared_error: 2.2749 - mean_absolute_error: 1.1158 - val_loss: 2.1767 - val_mean_squared_error: 2.1767 - val_mean_absolute_error: 1.2066
Epoch 49/50
24300/24300 [==============================] - 7s 288us/step - loss: 2.1767 - mean_squared_error: 2.1767 - mean_absolute_error: 1.0805 - val_loss: 2.4009 - val_mean_squared_error: 2.4009 - val_mean_absolute_error: 1.2647
Epoch 50/50
24300/24300 [==============================] - 7s 281us/step - loss: 2.3701 - mean_squared_error: 2.3701 - mean_absolute_error: 1.1452 - val_loss: 1.8571 - val_mean_squared_error: 1.8571 - val_mean_absolute_error: 1.0399

In [32]:
model.evaluate(X_test, y_test)

3000/3000 [==============================] - 1s 243us/step

[1.791646253267924, 1.791646253267924, 1.0323849862416585]

# try:
1. other features
2. different neural network architectures
3. more data points
4. different problems (for example, is a loan good or bad?)